apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: m365-pwsh-home
  namespace: portal
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 2Gi
